<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}AE Code Challenge - Rock, Paper, Scissors, Spock, Lizard{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('/css/style.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        {% block requirejs %}{% endblock %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="main" class="container">
        <div class="row vertical-center-row half">
            <div id="content" class="">
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}
</body>
</html>
